.emr-wrapper {
    max-height: calc(100vh - 460px);
    overflow: auto;
    flex: 1;
}

 /* 修改滚动条的样式 */
 ::-webkit-scrollbar {
    width: 8px !important; /* 设置滚动条宽度 */
}

/* 修改滚动条轨道的样式 */
::-webkit-scrollbar-track {
    background: #f1f1f1 !important; /* 设置滚动条轨道背景色 */
}

/* 修改滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
    background: #888 !important; /* 设置滚动条滑块颜色 */
}

/* 鼠标悬停在滚动条上时的样式 */
::-webkit-scrollbar-thumb:hover {
    background: #555 !important; /* 设置滚动条滑块在鼠标悬停时的颜色 */
}